table {
  min-width:500px;
}

.mat-form-field {
  display: block;
}

.mat-icon-button {
  margin-left: 10px;
}

button {
  margin: auto;
}

form, .bottom {
  text-align: center;
}

.bottom {
  margin-top: 10px;
  margin-bottom: 30px;
}
