<h1>Pytanie: {{ question }}</h1>
<h2>
  Odpowiada drużyna: <strong>{{ team }}</strong>
</h2>
<div class="Row">
  <div class="Column">
    <app-scoreboard [team]="'TEAM1'"></app-scoreboard>
  </div>
  <div class="Column">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="response">
        <th mat-header-cell *matHeaderCellDef>Odpowiedź</th>
        <td mat-cell *matCellDef="let element">{{ getResponse(element) }}</td>
      </ng-container>
      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef>Punkty</th>
        <td mat-cell *matCellDef="let element">{{ getPoints(element) }}</td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="Column">
    <app-scoreboard [team]="'TEAM2'"></app-scoreboard>
  </div>
</div>
