.scoreboard {
    height: 200px;
    border: solid black;
    text-align: center;
    color: white;
}

h1 {
    font-size: 100px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.team1 {
    background-color: #3f51b5;
}

.team2 {
    background-color: #f44336;
}