.center{
    width: 75%;
    margin: 10px auto;
  }

  .main-div{
    height: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
