<h4>Pytanie:</h4>
<form (ngSubmit)="saveQuestion()" [formGroup]="questionForm">
  <mat-form-field>
    <input matInput [value]="data.question" formControlName="question"/>
  </mat-form-field>
  <h4>Odpowiedzi:</h4>
  <table mat-table [dataSource]="answers" class="mat-elevation-z8">
    <ng-container matColumnDef="response">
      <th mat-header-cell *matHeaderCellDef> Odpowiedź </th>
      <td mat-cell *matCellDef="let element" style="padding-right: 10px">
        <mat-form-field>
          <input matInput [value]="element.response" formControlName="{{'response'+element.id}}"/>
        </mat-form-field>
      </td>
    </ng-container>
    <ng-container matColumnDef="points">
      <th mat-header-cell *matHeaderCellDef> Punkty </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <input matInput [value]="element.points" formControlName="{{'points'+element.id}}"/>
        </mat-form-field>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button mat-raised-button color="primary" type="submit">Zapisz</button>
</form>
