<<<<<<< HEAD
table {
  min-width: 400px;
  box-shadow: none;
}

.save {
  display: block;
}

.mat-form-field {
  margin-right: 10px;
=======
table, tr, td, th {
  border: none;
  box-shadow: none;
>>>>>>> 406f961e5848a8e30694fcd88bde4865a0295f0c
}
