table {
    width: 100%;
}

.example-container {
    max-height: 400px;
    overflow: auto;
}


.mat-fab {
    margin-left: 20px;
}

.claim {
    width: 100px;
}

.done {
    text-decoration: line-through;
    background: lightgrey;
}

.buttons {
    width: 100%;
    text-align: center;

    button {
        margin: 20px;
    }
}

h1,
h2 {
    text-align: center;
}